:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

button{
    width: 259px;
    height: 75px;
    margin-left: 10px;
    margin-top: 30px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding: 100px 0px;
    justify-content: space-between;
}

body{
    background-image: linear-gradient(rgb(255, 0, 0),white,red);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    display: grid;
    height: 900px;
    width: 900px;;
    border: black 1px solid;
    /* repeat the column 16 rows and 16 columns, each with 1fraction */
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
}

.box{
    border: 1px black solid;
}
